<div class="app-card-container">
  <div class="card">
    <h1>About me</h1>
    <hr/>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag "me.jpeg", width: 300,alt: 'Profile image' %>
      </div>
      <div class="col-md-7">
        <p>Lorem ipsum dolor sit amet, et omnes adipisci consequat eos. Quo at reque erroribus, ad pro iusto ridens fuisset. At vel persius equidem, ius ei summo tempor volumus. Cum ei alienum consulatu, has te aperiam salutatus, civibus persecuti ne quo. Eum case graeco cotidieque cu, ut eam habeo honestatis. Quo te corpora epicuri, omnium repudiare qui et.

          Te noster diceret mel, vel ne cibo iusto prodesset. Pri delectus suavitate in. Nam no deserunt periculis, ea nam saperet voluptatum, probo graece nominati has no. Quo an dictas laoreet, omnes delectus his te, partem senserit indoctum ei quo.

          Quo ut error nemore deleniti. Sit case admodum consulatu at, eu purto prodesset pri. Ea has ornatus luptatum. Id vix veniam erroribus sententiae.

          Erat sensibus tincidunt eu mel, dicit salutandi moderatius has in, dicam impedit pertinacia an est. Et equidem nonumes platonem nec, pri sadipscing omittantur cu. Est saepe deterruisset conclusionemque ut, has sint meliore assentior ne. Eum eu viris repudiandae, mei quis vivendo ut.

          Eu graece alterum legendos his, hinc eius deleniti ad nec, sensibus interpretaris ea mea. No sit quas labore hendrerit, sed ad odio nonumy. Nostro alienum expetendis te eos. Natum officiis ut nam, eam debet equidem ad. Propriae omittantur qui no, sea an dicta altera pericula. Sumo vivendum te duo.
        </p>
      </div>
    </div>
  </div>
</div>

